.main {
    display: grid;
    grid-template-columns: 200px auto;
}

.ide {
    padding: 10px;
    display: flex;
    gap: 10px;
    background-color: var(--bg-color-200);
}

.frame {
    position: sticky;
    top: 69px;
    height: calc(100vh - 80px);
    width: 100%;
}

.mode-name {
    padding: 10px 0;
}

.mode-name:nth-child(1) {
    padding-top: 0;
}